doctype html
html.no-js(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Elastic React RxJS
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='text/javascript', src='http://localhost:8080/head.js')
  body
    div.container
      div#app
    script(type='text/javascript', src='http://localhost:8080/main.js')